<fieldset class="fieldset">
    <label for="{{name}}" class="fieldset__label">{{label}}</label>
    <input id="{{name}}" type="{{type}}" placeholder="{{placeholder}}" name="{{name}}" class="fieldset__input" autocomplete="off">
</fieldset>